body{
    font-family: Quicksand, sans-serif;
}


#mainScrImg{
    background: url('../react-livello/src/img/Livello.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#mainMenu{
    display: flex;
    justify-content: space-between;
    /*padding-top: 40px;*/
    padding: 40px 65px 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#mainMenu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#mainMenu>span a{
    flex-grow: 1;
    font-size: 40px;
}

#mainMenu ul{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#mainMenu ul li{
    margin: 5px;
    margin-left: 50px;
}

#mainScrImg header{
    text-align: center;
    max-width: 70%;
    height: 100vh;
    color: #fff;
    margin: 0 auto;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainScrImg header h1{
    font-size: 50pt;
    margin-bottom: 20px;
}

#mainScrImg header p {
    text-align: center;
    max-width: 600px;
    margin: 20px auto 0;
    line-height: 160%;
}

.mainArrow{
    position: absolute;
    left: 50%;
    bottom: 47px;
}

.mainArrow:before, .mainArrow:after{
    content: '';
    display: block;
    width: 26px;
    height: 8px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.mainArrow:before{
    transform: rotateZ(-45deg);
    transform-origin: 4px 50%;
}

.mainArrow:after{
    transform: rotateZ(-135deg);
    transform-origin: 4px 50%;
}


/*gender filter section*/

#genderFilter{
    background-color: #f5f6f7;
    max-height: 145px;
}

.wrapper-genderFilter{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.gender-wrap{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button--sade label:before, .btn-all-prod{
    font-family: Quicksand;
    font-weight: bold;
}

.btn-all-prod{
    height: 50px;
    width: 205px;
    background: #aa9b77;
    box-shadow: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

/*slider-navigation*/

.slider-navigation{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.slider-navigation span{
    display: flex;
    justify-content: space-between;
}


.nxt-btn, .prev-btn{
    background: none;
    box-shadow: none;
    border: none;
    width: 0;
    height: 0;
    padding: 0;
}

.nxt-btn:before, .prev-btn:before, .nxt-btn:after, .prev-btn:after{
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    background: #aa9b77;
}

.nxt-btn:before, .nxt-btn:after{
    transform-origin: 100% 50%;
}

.prev-btn:before, .prev-btn:after{
    transform-origin: 0 50%;
}

.prev-btn:before{
    transform: rotateZ(35deg) translateX(1px) translateY(-1px);
}

.prev-btn:after{
    transform: rotateZ(-35deg) translateX(1px) translateY(1px);
}

.nxt-btn:before{
    transform: rotateZ(35deg) translateX(-10px) translateY(8px);
}

.nxt-btn:after{
    transform: rotateZ(-35deg) translateX(-10px) translateY(-7px);
}

/*.prev-btn:after, .prev-btn:before{*/
/*    left: 0;*/
/*}*/


/*man-wear section*/

.wrapper-men-wear{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section-header-with-line{
    display: flex;
    align-items: center;
    margin: 85px 0;
}

.section-header-with-line h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 45px;
}

.section-header-with-line hr{
    border: 1px solid #cccccc;
    width: 100%;
}

/*wear-list and items*/

.wear-list{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

.wear-item{
    padding: 20px;
    box-sizing: border-box;
    max-width: 320px;
    width: 100%;
    max-height: 380px;
    border: 6px solid #aa9b77;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wear-item img{
    margin: 40px 0;
}

.size-list{
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.size-list li{
    position: absolute;
}

.size-list li:first-child{
    background: white;
    z-index: 5;
    cursor: pointer;
    width: 50px;
}

.size-list li:first-child:after, .size-list li:first-child:before{
    display: block;
    position: absolute;
    content: '';
    width: 11px;
    height: 3px;
    background: #aa9b77;
    border-radius: 2px;
    transform-origin: 0 50%;
    right: -5px;
    top: 10px;
}

.size-list li:first-child:after{
    transform: rotateZ(-125deg) translateX(-1px) translateY(1px);
}

.size-list li:first-child:before{
    transform: rotateZ(-55deg);
}

.sizes-colors{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.color-list{
    display: flex;
}

.color{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: 5px;
}

.name-price{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
}

.name-wear{
    font-size: 16px;
    color: #aa9b77;
    text-transform: uppercase;
}

.price-wear{
    font-size: 18px;
}