.sliderNavigation{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    width: 25px;
}

.btnWrapper{
    display: flex;
    justify-content: space-between;
}


.nxtBtn, .prevBtn{
    width: 15px;
    background: none;
    box-shadow: none;
    border: none;
    width: 50%;
    height: 100%;
    padding: 0;
}

.nxtBtn:before, .prevBtn:before, .nxtBtn:after, .prevBtn:after{
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    background: #aa9b77;
}

.nxtBtn:before, .nxtBtn:after{
    transform-origin: 0 50%;
}

.prevBtn:before, .prevBtn:after{
    transform-origin: 100% 50%;
}

.prevBtn:before{
    transform: rotateZ(35deg) translateX(1px) translateY(-1px);
}

.prevBtn:after{
    transform: rotateZ(-35deg) translateX(1px) translateY(1px);
}

.nxtBtn:before{
    transform: rotateZ(35deg) translateX(-10px) translateY(8px);
}

.nxtBtn:after{
    transform: rotateZ(-35deg) translateX(-10px) translateY(-7px);
}